footer{
    display: flex;
    justify-content: space-evenly;
    padding: 0 8px;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.footer{
    padding: 0 8px;
}
.footer h3{
    font-weight: 400;
    margin: 10px 0;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Karma", sans-serif;
}

.footer p{
    font-size: 15px;
    line-height: 1.5;
    max-width: 300px;
}
.footer p a{
    color: inherit;
    background-color: transparent;
    font-size: 15px;
    line-height: 1.5;
}
.blog_posts{
    padding: 0 8px;
    width: 30%;
}
.blog_posts h3{
    font-family: "Karma", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
}

.blog_posts ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.blog_posts ul li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.blog_posts ul li:hover{
    background-color: #ccc;
}

.blog_posts ul li:last-child{
    border-bottom: none;
}

.blog_posts ul li img{
    width: 50px;
    float: left!important;
    margin-right: 16px!important;
    vertical-align: middle;
    border-style: none;
}

.blog_posts ul li .span{
    font-size: 18px!important;
}

.popular_tags{
    padding: 0 8px;
    font-family: serif;
    width: 35%;
}

.popular_tags h3{
    font-family: "Karma", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
}

.tag{
    margin-bottom: 16px!important;
    color: #fff!important;
    background-color: #000!important; 
    font-size: 16px !important;
}
.tags{
    color: #fff;
    background-color: #616161;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 16px!important;
    font-size: 12px!important;
}

@media screen and (max-width: 600px)  {
    footer{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        text-align: center;
        position: relative;
    }

    .footer{
        margin-bottom: 20px;
    }
    .footer p{
        max-width: 450px;
    }
    .blog_posts{
        white-space: nowrap;
        width: 100%;
        
    }
    .popular_tags{
        width: 90%;
    }
  }